<form action="/DiemCachLy/ThemDiemCachLy" method="post">
    <label>Mã điểm cách ly:</label><input type="text" name="MaDiemCachLy" /></br>
    <label>Tên điểm cách ly: </label><input type="text" name="TenDiemCachLy" /></br>
    <label>Địa chỉ: </label><input type="text" name="DiaChi" /></br>
    <input type="submit" value="Thêm" name="submit" id="them" />
</form>