<form action="/TrieuChung/ListByTime" method="post">
    <label>Số triệu chứng</label>
    <input type="number" name="soLan" /> <br>
    <input type="submit" value="Thêm" name="submit" id="them" />
</form>
